*{
	padding: 0;
	margin: 0;
}
#container{
	border: 1px solid #ccc;
	/*padding: 10px;*/
	position: relative;
}
#canvas{
	/*border: 1px solid #258;*/
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    /*cursor: pointer;*/
}
#point,#magnifier,#mosaic{
	width:700px;
    vertical-align: middle;
}
.controller {
	list-style: none;
	width: 800px;
}
.controller span{
	display: inline-block;
	width: 90px;
}
[name="magnifierType"]{
	vertical-align: top;
}
#clipwrap{
	border: 1px dashed #ccc;
	position: absolute;
	left: 0;
	top: 0
}